body{
    margin:0px;
    background-color:#44475a;
    color:#f8f8f2;
}
#form{
    text-align: center;
    width:50%;
    border:2px solid #ff5555;
    color:#f8f8f2;
}
input[type=text]{
    text-align: center;
    color:#f8f8f2;
    margin:2px;
}
input[type=text]:active, input[type=text]:focus{
    background-color:#66a29c;
}
#output{
    transition:0.2s;
    color:#9e9e9e;
    border:2px solid #ff5555;
    width:30%;
    font-size: 40px;
}
